body{
    margin: 0;
    background-color: red;
}

#bigCont{
    display: flex;
    flex-direction: row;
    align-items: center;

}

/* .sidebars{
    width: 200px;
    height: 850px;
    background-color: black;
} */

#materialtext{
    width: 200px;
    height: 850px;
    background-color: black;
}

#waistbandDisplay img{
    width: 10%;
}

#mainDesign{
    width: 500px;
    height: 850px;
    background-color: black;

}